$font-size-small: 0.8rem;
$font-size-normal: 1rem;
$font-size-big: 1.3rem;

$padding-small: 0.5rem;
$padding-normal: 0.1rem;
$padding-big: 0.2rem;

$margin-small: 0.5rem;
$margin-normal: 0.1rem;
$margin-big: 0.2rem;

$mobile-max: 600px;
$table-max: 1024px;
